{% block group_pages_active %}active{% endblock %}
{% block page_product_detail_active %}active{% endblock %}
{% block content_header %}Product Detail{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_page_product_detail')}}">Product Detail</a></li>
{% endblock %}
