{% block showroom_active %}active{% endblock %}
{% block content_header %}Location{% endblock %}
{% block content_header_desc %}shop location{% endblock %}

{% block breadcrumb_sub %}
	<li><a href="{{path('admin_showroom')}}">Shop</a></li>
	<li><a href="{{path('admin_product_category')}}">Location</a></li>
{% endblock %}
